@* @model EdoActViewModel *@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIT BASE - @ViewBag.Title    </title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/w2ui/w2ui-1.4.3.min.css" />
        <link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.min.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/w2ui/w2ui-1.4.3.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.min.css" />
        <link rel="stylesheet" href="~/css/styles.css" />

    </environment>

</head>
<body class="body-content">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Account" asp-action="Login" class="navbar-brand">Sistema de Transparencia</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Acerca de</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contacto</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>


    @if (User.Identity.IsAuthenticated)
    {
        @await Component.InvokeAsync("MenuModulo")
    }

    <div id="mainLayout"> </div>

    <div id="divLeft">
        <div style="float:left; width:100%; border: 1px solid #C1C1C1;">
            <div id="divTabInformacion" style="margin-left: 5px; margin-right: 5px"></div>
            <div id="divGrid" style="width: 100%; height: 75vh;"></div>
        </div>
    </div>


    @RenderBody()

    <form id="frmResponder" asp-controller="Estado" asp-action="Responder" method="post" accept-charset="UTF-8">
        @Html.AntiForgeryToken()
        <input type="hidden" id="solclaveR" name="solclaveR">
        <input type="hidden" id="proclaveR" name="proclaveR">
        <input type="hidden" id="nodclaveR" name="nodclaveR">
        <input type="hidden" id="araclaveR" name="araclaveR">
        <input type="hidden" id="perclaveR" name="perclaveR">
        <input type="hidden" id="rtpclaveR" name="rtpclaveR">
    </form>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui-1.11.4.min.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>
        <script type="text/javascript" src="~/js/sit/ObjetosW2ui.js"></script>
        <script type="text/javascript" src="~/js/sit/ObjW2uiCat.js"></script>
        <script type="text/javascript" src="~/js/sit/FuncGralesSIT.js"></script>
        <script type="text/javascript" src="~/js/sit/FuncRespuesta.js"></script>
        <script type="text/javascript" src="~/js/sit/FuncTurnar.js"></script>
        <script type="text/javascript" src="~/js/sit/FuncDibujar.js"></script>

        @* w2ui *@
        <script type="text/javascript" src="~/lib/w2ui/w2ui-1.4.3.min.js"></script>
        <script type="text/javascript" src="~/js/sit/w2ui-settings.js"></script>

        @* jsTree *@
        <script type="text/javascript" src="~/lib/jstree/dist/jstree.js"></script>

        @* pixie *@
        <script type="text/javascript" src="~/lib/pixi/pixi.min.js"></script>

        @* ckEDitor *@
        <script type="text/javascript" src="~/lib/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="~/lib/ckeditor/adapters/jquery.js"></script>

    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/w2ui/w2ui-1.4.3.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui-1.11.4.min.js" asp-append-version="true"></script>

        @* Funciones de JavaScript Generales *@
        <script type="text/javascript" src="~/js/site.js"></script>
        <script type="text/javascript" src="~/js/sit/ObjetosW2ui.js"></script>
        <script type="text/javascript" src="~/js/sit/ObjW2uiCat.js"></script>
        <script type="text/javascript" src="~/js/sit/FuncGralesSIT.js"></script>
        <script type="text/javascript" src="~/js/sit/FuncRespuesta.js"></script>
        <script type="text/javascript" src="~/js/sit/FuncTurnar.js"></script>
        <script type="text/javascript" src="~/js/sit/FuncDibujar.js"></script>

        @* w2ui *@
        <script src="~/lib/w2ui/w2ui-1.4.3.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/sit/w2ui-settings.js"></script>

        @* jsTree *@
        <script type="text/javascript" src="~/lib/jstree/dist/jstree.min.js"></script>

        @* pixie *@
        <script type="text/javascript" src="~/lib/pixi/pixi.min.js"></script>

        @* ckEDitor *@
        <script type="text/javascript" src="~/lib/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="~/lib/ckeditor/adapters/jquery.js"></script>

    </environment>



    <script type="text/javascript">
        var _UrlInicio = '@Url.Content("~/Account/Login/")';
        var _UrlSesionActiva = '@Url.Content("~/Account/SesionActiva/")';
        var _UrlRespuesta = '@Url.Content("~/Respuesta/")';
        var _UrlEstado ='@Url.Content("~/Estado/")';
        var _PathImgDoc = '@Url.Content("~/images/documento.png")';

        @*  VARAIBLES  GENRALES - LOCALES *@
        var TipoClas = [{id:0, text:'Seleccionar'}];
        var _EditorHeight = 430;


        var _solclave = @ViewBag.DatosGrals.folio;
        var _proclave = @ViewBag.DatosGrals.tipoPrcActual;
        var _nodclave = @ViewBag.DatosGrals.nodClave;
        var _araclave = @ViewBag.DatosGrals.araClave;
        var _perclave = @ViewBag.DatosGrals.perClave;
        var _rtpClave = 0;
        var _Inicio = true;

        var _solfecsol = @Html.Raw(ViewBag.DatosGrals.fecIni);
        var _solfecsolticks = @Html.Raw(ViewBag.DatosGrals.solFecIniTicks);


        @*-- DATOS DEL PANEL IZQUIERDO  --*@
        var _Solicitante =  @Html.Raw(ViewBag.DatosGrals.solicitante);
        var _Solicitud =    @Html.Raw(ViewBag.DatosGrals.solicitud);
        var _Aclaracion =   @Html.Raw(ViewBag.DatosGrals.aclaracion);
        var _Revision =     @Html.Raw(ViewBag.DatosGrals.recRevision);

        @*-- VARIABLES AUXILIARES --*@
        var _Accion  =  @Html.Raw(ViewBag.DatosGrals.accion);

        var _FechaAct =     @Html.Raw(ViewBag.DatosGrals.fecAct);
        var _ListaAccion = {};
        var _FecAclaracion = @Html.Raw(ViewBag.DatosGrals.fecAclaracion);
        var _TranspTurnar = @Html.Raw(ViewBag.DatosGrals.turnarTransp);
        var _AreasInternas = @Html.Raw(ViewBag.DatosGrals.turnarAreasInternas);
        var _AreaTurnar = @Html.Raw(ViewBag.DatosGrals.turnarArea);

        $(document).ready(function() {
            AjustarPantalla('mainLayout', 0.80, 0.99);

            $('#mainLayout').w2layout(GetLayoutMain("20%","80%"));

            @*--  PANEL TOP --*@
            w2ui['layoutMain'].content('top', '<div class="titulo">@ViewBag.DatosGrals.titulo</div> <div class="titulo" style="float:right; text-align: left; "><b>Folio: @ViewBag.DatosGrals.folio - @ViewBag.DatosGrals.solFecIni - @ViewBag.DatosGrals.solTipo &nbsp;</b></div>');

            @*--  PANEL LEFT --*@
            w2ui['layoutMain'].content('left', '<div id="divLytLeft" > </div>');
            $('#divLytLeft').append(  $('#divLeft').detach());

            @*--  PANEL LEFT - AGREGAMOS DATOS --*@
            $('#divTabInformacion').w2toolbar(GetTabInformacion());

            $().w2grid( GetGridSolicitud() );
            $('#divGrid').w2render('gridSolicitud');
            w2ui.gridSolicitud.records = _Solicitud.records;
            w2ui.gridSolicitud.reload();

            if ( _Solicitante.records.length == 0)
                w2ui.tabInformacion.remove( 'solicitante');
            else
            {
                $().w2grid( GetGridSolicitante() );
                w2ui.gridSolicitante.records = _Solicitante.records;
                w2ui.gridSolicitante.reload();
            }

            // MANEJAR SI EL OBEJTOS ES NULO o UNDEFINED
            if ( _Aclaracion.records.length == 0)
                w2ui.tabInformacion.remove( 'aclaracion');
            else
            {
                $().w2grid( GetGridAclaracion() );
                w2ui.gridAclaracion.records = _Aclaracion.records;
                w2ui.gridAclaracion.reload();
            }

            if ( _Revision.records.length == 0)
                w2ui.tabInformacion.remove('recrevision');
            else
            {
                $().w2grid( GetGridRecRevision() );
                w2ui.gridRecRevision.records = _Revision.records;
                w2ui.gridRecRevision.reload();
            }
        });


        function Responder() {
            $("#solclaveR").val(_solclave);
            $("#proclaveR").val(_proclave);
            $("#nodclaveR").val(_nodclave);
            $("#araclaveR").val(_araclave);
            $("#perclaveR").val(_perclave);
            $("#rtpclaveR").val(_rtpClave);
            document.getElementById("frmResponder").submit();
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>