@{
    ViewData["Title"] = "Sistema de Transparencia de la Secretaría de la Función Pública";
}

@*
    <h3>@ViewData["Message"]</h3>
*@
    
    <style>
        .conversation-wrap {
            box-shadow: -2px 0 3px #ddd;
            padding: 0;
            max-height: 400px;
            overflow: auto;
        }

        .conversation {
            padding: 5px;
            border-bottom: 1px solid #ddd;
            margin: 0;
        }

        .message-wrap {
            box-shadow: 0 0 3px #ddd;
            padding: 0;
        }

        .msg {
            padding: 5px;
            /*border-bottom:1px solid #ddd;*/
            margin: 0;
        }

        .msg-wrap {
            padding: 10px;
            max-height: 400px;
            overflow: auto;
        }

        .time {
            color: #bfbfbf;
        }

        .send-wrap {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 10px;
            /*background: #f8f8f8;*/
        }

        .send-message {
            resize: none;
        }

        .highlight {
            background-color: #f7f7f9;
            border: 1px solid #e1e1e8;
        }

        .send-message-btn {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .btn-panel {
            background: #f7f7f9;
        }

            .btn-panel .btn {
                color: #b8b8b8;
                transition: 0.2s all ease-in-out;
            }

                .btn-panel .btn:hover {
                    color: #666;
                    background: #f8f8f8;
                }

                .btn-panel .btn:active {
                    background: #f8f8f8;
                    box-shadow: 0 0 1px #ddd;
                }

        .btn-panel-conversation .btn, .btn-panel-msg .btn {
            background: #f8f8f8;
        }

            .btn-panel-conversation .btn:first-child {
                border-right: 1px solid #ddd;
            }

        .msg-wrap .media-heading {
            color: #003bb3;
            font-weight: 700;
        }


        .msg-date {
            background: none;
            text-align: center;
            color: #aaa;
            border: none;
            box-shadow: none;
            border-bottom: 1px solid #ddd;
        }


        body::-webkit-scrollbar {
            width: 12px;
        }


        /* Let's get this party started */
        ::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            /*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            /*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
            background: #ddd;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }

            ::-webkit-scrollbar-thumb:window-inactive {
                background: #ddd;
            }

    </style>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <script>
        var users =  @Html.Raw(ViewBag.ConnectedUsers);
        console.log(users);
    </script>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="btn-panel btn-panel-conversation">
                </div>
            </div>
            <div class="col-lg-offset-1 col-lg-7">
                <div class="btn-panel btn-panel-msg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="conversation-wrap col-lg-3">
                <script>
                    var yourName = "";
                    for (var i = 0; i < users.records.length; i++){
                        if (users.records[i].AdmUsuMdl.usrclave == @ViewBag.YourId) yourName = users.records[i].UsuarioNombre;

                        var s = '<div class="media conversation" id="' + users.records[i].AdmUsuMdl.usrclave+'" >'+
                                '<a class="pull-left" href="#">'+
                                '<img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACqUlEQVR4Xu2Y60tiURTFl48STFJMwkQjUTDtixq+Av93P6iBJFTgg1JL8QWBGT4QfDX7gDIyNE3nEBO6D0Rh9+5z9rprr19dTa/XW2KHl4YFYAfwCHAG7HAGgkOQKcAUYAowBZgCO6wAY5AxyBhkDDIGdxgC/M8QY5AxyBhkDDIGGYM7rIAyBgeDAYrFIkajEYxGIwKBAA4PDzckpd+322243W54PJ5P5f6Omh9tqiTAfD5HNpuFVqvFyckJms0m9vf3EY/H1/u9vb0hn89jsVj8kwDfUfNviisJ8PLygru7O4TDYVgsFtDh9Xo9NBrNes9cLgeTybThgKenJ1SrVXGf1WoVDup2u4jFYhiPx1I1P7XVBxcoCVCr1UBfTqcTrVYLe3t7OD8/x/HxsdiOPqNGo9Eo0un02gHkBhJmuVzC7/fj5uYGXq8XZ2dnop5Mzf8iwMPDAxqNBmw2GxwOBx4fHzGdTpFMJkVzNB7UGAmSSqU2RoDmnETQ6XQiOyKRiHCOSk0ZEZQcUKlU8Pz8LA5vNptRr9eFCJQBFHq//szG5eWlGA1ywOnpqQhBapoWPfl+vw+fzweXyyU+U635VRGUBOh0OigUCggGg8IFK/teXV3h/v4ew+Hwj/OQU4gUq/w4ODgQrkkkEmKEVGp+tXm6XkkAOngmk4HBYBAjQA6gEKRmyOL05GnR99vbW9jtdjEGdP319bUIR8oA+pnG5OLiQoghU5OElFlKAtCGr6+vKJfLmEwm64aosd/XbDbbyIBSqSSeNKU+HXzlnFAohKOjI6maMs0rO0B20590n7IDflIzMmdhAfiNEL8R4jdC/EZIJj235R6mAFOAKcAUYApsS6LL9MEUYAowBZgCTAGZ9NyWe5gCTAGmAFOAKbAtiS7TB1Ng1ynwDkxRe58vH3FfAAAAAElFTkSuQmCC">'+
                                '</a>'+
                                '<div class="media-body">'+
                                '<h5 class="media-heading @ViewBag.YourId">' + users.records[i].UsuarioNombre +'</h5>'+
                                '<small>' + users.records[i].UsuarioNombre +'</small>'+
                                '</div>'+
                            '</div>';
                        $(".conversation-wrap").append(s);
                    }
                </script>

                
                
            </div>

            <div class="message-wrap col-lg-8">
                <div class="msg-wrap">

                    <div class="alert alert-info msg-date">
                        <strong>Mensajes Recibidos</strong>
                    </div>
                    <div class="media msg">
                        <a class="pull-left" href="#">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 1px; height: 1px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACqUlEQVR4Xu2Y60tiURTFl48STFJMwkQjUTDtixq+Av93P6iBJFTgg1JL8QWBGT4QfDX7gDIyNE3nEBO6D0Rh9+5z9rprr19dTa/XW2KHl4YFYAfwCHAG7HAGgkOQKcAUYAowBZgCO6wAY5AxyBhkDDIGdxgC/M8QY5AxyBhkDDIGGYM7rIAyBgeDAYrFIkajEYxGIwKBAA4PDzckpd+322243W54PJ5P5f6Omh9tqiTAfD5HNpuFVqvFyckJms0m9vf3EY/H1/u9vb0hn89jsVj8kwDfUfNviisJ8PLygru7O4TDYVgsFtDh9Xo9NBrNes9cLgeTybThgKenJ1SrVXGf1WoVDup2u4jFYhiPx1I1P7XVBxcoCVCr1UBfTqcTrVYLe3t7OD8/x/HxsdiOPqNGo9Eo0un02gHkBhJmuVzC7/fj5uYGXq8XZ2dnop5Mzf8iwMPDAxqNBmw2GxwOBx4fHzGdTpFMJkVzNB7UGAmSSqU2RoDmnETQ6XQiOyKRiHCOSk0ZEZQcUKlU8Pz8LA5vNptRr9eFCJQBFHq//szG5eWlGA1ywOnpqQhBapoWPfl+vw+fzweXyyU+U635VRGUBOh0OigUCggGg8IFK/teXV3h/v4ew+Hwj/OQU4gUq/w4ODgQrkkkEmKEVGp+tXm6XkkAOngmk4HBYBAjQA6gEKRmyOL05GnR99vbW9jtdjEGdP319bUIR8oA+pnG5OLiQoghU5OElFlKAtCGr6+vKJfLmEwm64aosd/XbDbbyIBSqSSeNKU+HXzlnFAohKOjI6maMs0rO0B20590n7IDflIzMmdhAfiNEL8R4jdC/EZIJj235R6mAFOAKcAUYApsS6LL9MEUYAowBZgCTAGZ9NyWe5gCTAGmAFOAKbAtiS7TB1Ng1ynwDkxRe58vH3FfAAAAAElFTkSuQmCC">
                        </a>
                        <div class="media-body">
                            <small class="pull-right time"><i class="fa fa-clock-o"></i> </small>
                            <h5 class="media-heading"></h5>
                            <small class="col-lg-10"></small>
                        </div>
                    </div>
                </div>
                <div class="send-wrap " style="display: none;">
                    <textarea class="form-control send-message" rows="3" placeholder="Escribe tu respuesta ..."></textarea>

                </div>
                <div class="btn-panel">
                     <a href="#" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> Enviar Mensaje</a>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function newConversation() {
            console.log("new Conversation");
            $(".send-wrap").css("display", "block");
        }
        var toName = "";
        var toId = 0;
        function renderMessage(messages) {
            var idTo = 1000;
            var yourId = @Html.Raw(ViewBag.YourId);
            

            if (messages == "1" | messages == undefined) { newConversation(); }
            for (var i = 0; i < messages.length; i++) {

                var Name = "";
                if (messages[i].to == yourId) {
                    Name = yourName;
                } else {
                    Name = toName;
                }
                var message = messages[i].mess;
                var date = messages[i].date;
                mesageBody = '<div class="media msg">' +
                    '<a class="pull-left" href="#">' +
                    '<img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACqUlEQVR4Xu2Y60tiURTFl48STFJMwkQjUTDtixq+Av93P6iBJFTgg1JL8QWBGT4QfDX7gDIyNE3nEBO6D0Rh9+5z9rprr19dTa/XW2KHl4YFYAfwCHAG7HAGgkOQKcAUYAowBZgCO6wAY5AxyBhkDDIGdxgC/M8QY5AxyBhkDDIGGYM7rIAyBgeDAYrFIkajEYxGIwKBAA4PDzckpd+322243W54PJ5P5f6Omh9tqiTAfD5HNpuFVqvFyckJms0m9vf3EY/H1/u9vb0hn89jsVj8kwDfUfNviisJ8PLygru7O4TDYVgsFtDh9Xo9NBrNes9cLgeTybThgKenJ1SrVXGf1WoVDup2u4jFYhiPx1I1P7XVBxcoCVCr1UBfTqcTrVYLe3t7OD8/x/HxsdiOPqNGo9Eo0un02gHkBhJmuVzC7/fj5uYGXq8XZ2dnop5Mzf8iwMPDAxqNBmw2GxwOBx4fHzGdTpFMJkVzNB7UGAmSSqU2RoDmnETQ6XQiOyKRiHCOSk0ZEZQcUKlU8Pz8LA5vNptRr9eFCJQBFHq//szG5eWlGA1ywOnpqQhBapoWPfl+vw+fzweXyyU+U635VRGUBOh0OigUCggGg8IFK/teXV3h/v4ew+Hwj/OQU4gUq/w4ODgQrkkkEmKEVGp+tXm6XkkAOngmk4HBYBAjQA6gEKRmyOL05GnR99vbW9jtdjEGdP319bUIR8oA+pnG5OLiQoghU5OElFlKAtCGr6+vKJfLmEwm64aosd/XbDbbyIBSqSSeNKU+HXzlnFAohKOjI6maMs0rO0B20590n7IDflIzMmdhAfiNEL8R4jdC/EZIJj235R6mAFOAKcAUYApsS6LL9MEUYAowBZgCTAGZ9NyWe5gCTAGmAFOAKbAtiS7TB1Ng1ynwDkxRe58vH3FfAAAAAElFTkSuQmCC">' +
                    '</a>' +
                    '<div class="media-body">' +
                    '<small class="pull-right time"><i class="fa fa-clock-o"></i> '+date+'</small>' +
                    '<h5 class="media-heading">' + Name + '</h5>' +
                    '<small class="col-lg-10">' + message + '</small>' +
                    '</div>' +
                    '</div>';
                $(".msg-wrap").append(mesageBody);
            }
        }

        function showMessagesFromUserId(id) {
            console.log("Obteniendo mensajes");

            var trackingJSON = JSON.stringify(id);
            var urlAjax = "/chat/Getmessages";

            $.ajax({
                type: "POST",
                url: urlAjax,
                contentType: "application/json",
                data: trackingJSON,
                beforeSend: function () { console.log("Loading..."); },
                complete: function () { console.log(""); },
                success: function (data) {
                    var json = JSON.parse(data);
                    console.log(json);
                    console.log("ajax worked: " + json.records.AdmUsuMdl.usractivo);
                    renderMessage(json.records.AdmUsuMdl.usractivo);
                },
                error: function (data) { console.log("ajax error"); },
                dataType: 'json'
            });
        }




        $(document).ready(function () {
            /**
            *  Se pide por ajax los mensajes del usuario actual con el que se envia como parametro
            *  Se responde en un JSON
            */

            $(".conversation").click(function (event) {
                toId = event.target.id;
                showMessagesFromUserId(event.target.id);
                toName = $(".media-heading." + event.target.id).text();
            });

            $(".send-message-btn").click(function (event) {
                // se obtiene el id del destinatario y el mensaje
                console.log("enviando");
                var messages = [{ "to": "1000", "from": 10000, "mess": $(".send-message").val(), "date":"01/01/2018" }];
                renderMessage(messages);
                $(".send-message").val("");

                //scroll hast abajo
                var container = document.getElementsByClassName('msg-wrap');
                var childrenCount = document.getElementsByClassName("msg-wrap").childNodes.length;
                var rowToScrollTo = document.getElementsByClassName('msg-wrap').childNodes[childrenCount - 1];;
                container.scrollTop = rowToScrollTo.offsetTop;
            });
        });
    </script>