@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div id="divMensaje">
    <div>
        <label style="margin-left:10px;">Instrucciones internas acerca de la solicitud</label>
        @if (ViewBag.Archivo != null)
        {
            <a id="aDoc" asp-controller="Estado" asp-action="Documento" asp-route-id="@ViewBag.Archivo" class="glyphicon glyphicon glyphicon-list-alt btn-lg" data-toggle="tooltip" title="Ver documento anexo" target="_blank" style="margin-left:15px; ">Archivo Anexo</a>
        }
    </div>
    <div id="divInstr" style="background-color:white; height:110px; width:99%; overflow:auto; margin-top:5px; margin-left:5px; display:inline-block"></div>

    <div id="tab-example">
        <div id="tabs" style="width: 100%; height: 29px;"></div>
        <div id="Datos" style="width: 100%; height: 200px;"></div>
    </div>

    <form id="frmBorrar" asp-controller="Estado" asp-action="UAanalizarBorrar" method="post" accept-charset="UTF-8">
        @Html.AntiForgeryToken()
        <input type="hidden" id="repclave" name="repclave">
        <input type="hidden" id="rtpclave" name="rtpclave">
        <input type="hidden" id="nodClave" name="nodClave">
    </form>

</div>

<!-- FORMA MODAL-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" style="background-color:whitesmoke;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="divTopLista" class="w2ui-span10" style="padding-left:10px; margin-bottom:2px;">
                    <div id="divTopListaTiulo" style="float:left; font-family:'Roboto', sans-serif; font-size:14px; font-weight:bold; color:#666;"></div>
                    <div id="divlstAccion" style="float:left; margin-left:20px; "><select id="lstAccion" style="float:left;"> </select> </div>
                </div>
            </div>
            <div id="divBody" class="modal-body">
                <div id="divResMultiple" style="overflow: auto; height:580px; "> </div>
            </div>
            <div class="modal-footer">
                <button id="btnAnalizarCerrar" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btnAnalizarGrabar" name="btnAnalizarGrabar" type="button" class="btn btn-default">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var _Instr = "@Html.Raw( ViewBag.Instruccion)";

        var _FormaBorrar = null;
        var _ResultadoOper = 0;
        

        _ListaAccion = @Html.Raw(ViewBag.ListaAccion);
        var _ListaSubAccion = @Html.Raw(ViewBag.ListaSubAccion);

        var config = {
            tabs: {
                name: 'tabs',
                tabs: [
                    { id: 'tab1', caption: 'Revisar Respuesta(s) de UA(s)' }
                ],
                onClick: function (event) {
                    $('#tab-example .tab').hide();
                    $('#tab-example #' + event.target).show();

                    $('#btnResponder').remove();
                    $('#divMenuAccion').append("<a id='btnResponder' name='btnResponder' data-toggle='tooltip' title='Responder solicitud' class='btn btn-success btn-lg btn-block btn-circle col-xs-12 glyphicon glyphicon-cog' style='font-size: 25px;  float:right; width:40px; height:40px;' > </a> ")

                    var TabID = 0;
                    for (var iIdx = 0; iIdx < _ListaAccion.records.length; iIdx++) {
                        _rtpClave = _ListaAccion.records[iIdx].id;

                        if (event.target == ("tab-" + _rtpClave)) {

                            $("#rtpclave").val(_rtpClave);

                            var urlForma = _UrlRespuesta + _ListaAccion.records[iIdx].forma + "?solclave=" + _solclave + "&proclave=" + _proclave + "&nodclave=" + _nodclave + "&Oper=1";
                            $("#Datos").empty();
                            $("#Datos").load(urlForma, function () {
                                Inicializar();

                                // multiple
                                if (event.target != 'tab-22') {
                                    document.getElementById("btnResponder").addEventListener('click', GrabarIFrame);
                                }
                                else {
                                    if (w2ui.gridUArespuesta.records.length == 0) {
                                        $('#btnResponder').hide();
                                    }
                                    document.getElementById("btnResponder").addEventListener('click', function () { w2alert("Hol amak") });
                                    // solo avanza
                                }
                            });
                       
                        }
                    }
                }
            }
        }

        function CrearTabs() {
            var oTabs = [];
            for (var iIdx = 0; iIdx < _ListaAccion.records.length; iIdx++) {
                oTabs.push({ id: 'tab-' + _ListaAccion.records[iIdx].id, caption: _ListaAccion.records[iIdx].text, class: "tab" });
            }
            config.tabs.tabs = oTabs;
            $('#tabs').w2tabs(config.tabs);
        }

        $(document).ready(function () {
            w2ui['layoutMain'].content('main', {
                render: function () {
                    $(this.box).append($('#divMensaje').detach());
                    $("#divInstr").text(_Instr);
                    CrearTabs();
                }
            });

            $('#myModal').on('hidden.bs.modal', function (e) {
                window.location.reload();
            })
        });


        function Actualizar(event) {            
            if (_Inicio == false)
            {
                //Si es multiple actualizamos GRID 
                if (_rtpClave == 22)
                {
                    _Inicio = false;
                    $('#myModal').modal('toggle');
                    window.location.reload();                    
                }
                else
                { 
                    Responder(); 
                }
            }
        }

    /* ------------------------------------
            AQUI VIENE EL GRID
    --------------------------------------- */
        function ActualizarGrid(data)
        {
            if (data === '1') {
                w2ui.gridUArespuesta.delete(true);
                Continuar();
            }
        }


        function GuardarRespOnclick(event) {
            event.done(function () {
                if (Grabar() == true)
                    w2popup.close()
                else
                    w2alert("El registro no fue almacenado");
            });
        }

        function SelectAddElemReserva(nombre, elementos) {
            // Primero borramos contenido
            $('#' + nombre)
                .find('option')
                .remove()
                .end();

            $('#' + nombre).append($('<option>', {
                value: 0,
                text: " -- Seleccionar --",
                ///disabled: "disabled",
                selected: "selected"
            }));

            for (var iIdx = 0; iIdx < elementos.records.length; iIdx++) {
                // ESTADO 3 ES  UNA PROPUESTA o NEGADO.,..
                if (elementos.records[iIdx].sdoClaveActual == 3) {
                    $('#' + nombre).append($('<option>', {
                        value: elementos.records[iIdx].repclave,
                        text: elementos.records[iIdx].rsvexpediente,
                        disabled: "disabled"
                    }));
                } else {
                    $('#' + nombre).append($('<option>', {
                        value: elementos.records[iIdx].repclave,
                        text: elementos.records[iIdx].rsvexpediente
                    }));
                }
            }
        }

        function ValorMaxGrid( sNombreGrid ) {
            var iMaxActual = 0;
            var iRecIdActual = 0;

            for (var iIdx = 0; iIdx < w2ui[sNombreGrid].records.length; iIdx++)
            {
                iRecIdActual = w2ui[sNombreGrid].records[iIdx].recid;
                if (iRecIdActual > iMaxActual)
                {
                    iMaxActual = iRecIdActual;
                }
            }
            return iMaxActual + 1;
        }

        function FormItemGrid()
        {
            var archivoSel = document.getElementById("docTipoDato").files[0];
            var iMaxRecID = ValorMaxGrid('gridConfidencial');

            if (archivoSel != undefined) {
                if (archivoSel.size > 5242880) {
                    w2alert("El tamaño del archivo es mayor a 5MB");
                    return;
                }

                w2ui['gridConfidencial'].add([{
                    recid: iMaxRecID, repclave: $("#resRespuesta_repclave").val(),
                    detclave: $("#txtClave").val(), detdescripcion: $("#txtDescripcion").val(), docclave: 0,
                    docTemp: archivoSel.name
                }]);
                validatedFiles.push(archivoSel);
            } else {
                w2ui['gridConfidencial'].add([{
                    recid: iMaxRecID, repclave: $("#resRespuesta_repclave").val(),
                    detclave: $("#txtClave").val(), detdescripcion: $("#txtDescripcion").val(), docclave: 0
                }]);
            }
            Ocultar();
        }

        function Mensaje() {
            getBase64(validatedFiles[0]);
        }

        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                var ventana = window.open("#", "_blank");
                ventana.document.write('<html><title>Visualizar documento</title><body style="margin-top:0px; margin-left:0px;margin-right:0px;margin-bottom:0px;">');
                ventana.document.write('<iframe type="application/pdf" height="100%" width="100%" src="' + reader.result + '"> </iframe>');
                ventana.document.write('</body></html>');
            };
            reader.onerror = function (error) {
                w2alert("error");
            };
        }

    </script>
}